* {
  box-sizing: border-box;
}

html,
html body {
  background-color: #b5b5b5;
}

#overlayAnimation {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.logo {
  position: relative;
  width: 100px;
  height: 100px;
  transition: 0.75s all cubic-bezier(0, 0.96, 0, 1.02);
}

.logo.active {
  transform: scale(1.2);
}
#four-satellites,
#four-satellites-1,
#four-satellites-2,
#four-satellites-3,
#four-satellites-4 {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: 0;
  width: 150%;
  height: 150%;
  margin-top: -25%;
  margin-left: -25%;
}

#four-satellites-4 {
  opacity: 0;
  transition: 2s all cubic-bezier(0, 0.96, 0, 1.02);
}

#four-satellites-4.active {
  opacity: 1;
}

#four-satellites-1 {
  transform-origin: 50%;
  transform: rotate(18deg);
  transition: 1s all ease;
}

#four-satellites-2 {
  transform-origin: 50%;
  transform: rotate(-38deg);
  transition: 1s all ease;
}

#four-satellites-3 {
  transform-origin: 50%;
  transform: rotate(-18deg);
  transition: 1s all ease;
}

.logo.active #four-satellites-1 {
  transform-origin: 50%;
  transform: rotate(-18deg);
}

.logo.active #four-satellites-2 {
  transform-origin: 50%;
  transform: rotate(38deg);
}

.logo.active #four-satellites-3 {
  transform-origin: 50%;
  transform: rotate(-90deg);
}
