#overlayAnimation {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* .transition-overlay {
  background-image: url('screen-transition.png');
  background-position: 0% center;
  position: absolute;
  width: 800px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  transition: 0s opacity ease;
  opacity: 0;
} */

/* .transition-overlay.active {
  animation: 1 fly-baby-fly 2s steps(19) 0s forwards;
  opacity: 1;
} */

/* @keyframes fly-baby-fly {
  100% {
    background-position-x: 100%;
  }
} */
